.category-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
  border-top: 4px solid #000;
  border-bottom: 1px solid #d8d8d8;
  overflow: hidden;

  li {
    cursor: pointer;
    padding: 15px 60px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f2f2f2;
    }

    &.selected {
      background-color: #000;
      color: #fff;
    }

    &:last-child {
      margin-right: 20px;
    }
  }
}


/* 추가된 스타일: 헤더(카테고리 목록 제목과 검색 입력 필드) 스타일링 */
.cate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #f8f8f8;
  
  
}

.cate h2 {
  font-size: 20px;
  margin: 0;
  margin-left: 720px;
}

.search-container {
  display: flex;
  align-items: center;

  input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
}
